body {
    margin: 0;
    background: burlywood;
    /*box-sizing: border-box;*/
}

.container {
    display: flex;
    justify-content: space-around;
}

.title {
    width: 127px;
    height: 31px;
    font-family: 'Brygada 1918', serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 40px;
    text-align: center;
    margin-top: 72px;
    
}

#home-score{
    width: 155px;
    height: 160px;
    text-align: center;
    background: black;
    color: #F94F6D;
    line-height: 150px;
    margin-top: 125px;
    margin-bottom: 140px;
    font-size: 95px;  
    font-family: 'Cursed Timer ULiL';
    border-radius: 12px;
                                                  
}

#guest-score{
    width: 155px;
    height: 160px;
    text-align: center;
    background: black;
    color: #F94F6D;
    line-height: 150px;
    margin-top: 125px;
    margin-bottom: 140px;
    font-size: 95px;  
    font-family: 'Cursed Timer ULiL';
    border-radius: 12px;
                                                  
}

.score-btn {
    white-space: nowrap;
    width: 100%;
}

.score-btn button{
    width: 33.3%;
    height: 45px;
    background-color: #04AA6D; /* Green background */
    border: 2px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: inline-block;
    border-radius: 5px;
    margin-left: -5px;
    font-family: 'Cursed Timer ULiL';
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
}

.score-btn button:not(:lastchild) {
   border-right: none;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.card button {
    margin-top: 1050px;
    padding: 20px 34px;
    border-radius: 12px;
    color: white;
    background: black;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Brygada 1918', serif;
}

#newcard-btn{
    margin-right: 50px;
}

#leadercard-btn{
    margin-left: 50px;
}

